body {
    padding: 0;
    margin: 0; 
    text-align: center;
}

/*Game intro screen*/

#game-intro {
    width: 100%;
    height: 100vh; /*change size bg here*/
    background-image: url('../img/intro-background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-intro img.logo-img {
    max-height: 300px;
    width: 40vw; 
    margin: -40px auto 30px;
}

button {
    border: none;
    color: transparent; 
    background-size: cover;
    background-position: center; 
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.start-game-button {
    width: 80vw; 
    height: 28vh; 
    background-image: url('../img/start-button.png');
    margin-top: -10vh; 
    margin-left: 4vh;
}

.sign-game-button {
    width: 50vh; 
    height: 20vh; 
    background-image: url('../img/sign-in-button.png');
    margin-top: 3vh; 
    margin-left: -1vh;
}

button:hover {
    filter: brightness(85%);
    
}

/*Game screen*/

#gameArea {
    width: 100%;
    height: 100vh; /*change size bg here*/
    background-image: url('../img/background.png');
    background-size: cover;
    position: relative;
    animation: slide 8s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0 0; 
    }
    100% {
        background-position: 100% 0; 
    }
}

.alien, .player {
    position: absolute;
    transition: transform 0.1s linear;
}

.alien {
    width: 60px;
    height: 35px;
    background: rgb(18, 29, 18);
    background-image: url('../img/small-alien.png');
    background-size: cover;
    margin-top: -10vh
    
}

#player {
    width: 10vh; /* playersize here */
    height: 12vh; 
    /*background-image: url('../img/ironman.png');*/
    background-size: cover;
    background-position: center;
    bottom: 30vh;
    margin-top: 40vh /*ความห่างจากพื้นด้านล่าง
    /*position: absolute; /* Ensure it's positioned absolutely */
}

.bullet {
    position: absolute;
    width: 6px;
    height: 60px;
    background: rgb(229, 229, 122);
    bottom: 60vh;/*ความห่างจากพื้นด้านล่าง*/
    transition: transform 0.17s linear;
    margin-top: -40vh;
    background-image: url('../img/bullet.png');
}
.alien-bullet {
    width: 10px;
    height: 20px;
    background-color: red;
    position: absolute;
}
.shooting-alien {
    width: 63px;
    height: 35px;
    background: red;
    background-image: url('../img/shooting-alien.png');
    background-size: cover;
    background-position: center;
}

.alien-bullet {
    background: rgb(204, 200, 216);
    transition: transform 0.1s linear;
}

.big-alien{
    width: 60px;
    height: 50px;  
    background-image: url('../img/big-alien.png');
    background-size: cover;
    background-position: center;
}

.boss-alien{
    width: 270px;
    height: 270px;  
    background-image: url('../img/boss-alien.gif');
    background-size: cover;
    margin-top: -25vh
}


#score, #lives, #boss-health {
    color: #FFF;  
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
}

#boss-health {
    background-color: #25386e; 
}


/*Game end screen*/

#game-end {
    display: none;
    width: 100%;
    height: 100vh; /*change size bg here*/
    background-image: url('../img/end-game-bg.png');
    background-size: cover;
    position: relative;
    ;
}

.restart-button {
    background-size: cover;
    background-position: center;
    border-style: double;
    background-image: url('../img/restart-btn.png');
    margin-top: 50vh; 
    width: 14vw;
    height: 7vh;
}

#game-end {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    /*background: rgba(0, 0, 0, 0.8);*/
    color: white;
    text-align: center;
    border-radius: 10px;
    z-index: 1000; 
    font-size: 24px;
    display: none;
}


#musicToggle {
    position: fixed;
    padding: 10px 20px;
    top: 10px;
    right: 10px;
    background-image: url('../img/speaker.png');
    background-color: #FFF;
    border: none;
    width: 20px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
